.ball {
  border-radius: 100%;

  &__purple {
    width: rem(60px);
    height: rem(60px);

    background-image: radial-gradient(82.3% 82.3% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.21) 78.59%, rgba(86, 24, 128, 0.23) 100%);
    filter: drop-shadow(rem(3px) rem(6px) rem(27px) rgba(177, 118, 217, 0.25)) blur(rem(5px));

    backdrop-filter: blur(rem(2px));

    &--small {
      width: rem(40px);
      height: rem(40px);
    }

    &--light {
      background: #833ab4;
      opacity: 0.5;
      filter: blur(rem(196px));

      backdrop-filter: none;
    }

    &--medium {
      width: rem(259px);
      height: rem(259px);

      border-radius: rem(259px);
    }
  }

  &__red {
    width: rem(83px);
    height: rem(83px);

    background-image: radial-gradient(82.3% 82.3% at 27.25% 26.5%, rgba(255, 208, 208, 0.54) 0%, rgba(212, 93, 93, 0.26) 59.67%, rgba(167, 49, 49, 0.25) 78.59%, rgba(130, 25, 25, 0.25) 100%);
    filter: drop-shadow(rem(3px) rem(6px) rem(27px) rgba(223, 125, 125, 0.25));

    backdrop-filter: blur(rem(2px));

    &--small {
      width: rem(28px);
      height: rem(28px);
    }

    &--medium {
      width: rem(43px);
      height: rem(43px);
    }

    &--huge {
      width: rem(311px);
      height: rem(311px);

      border-radius: rem(311px);
    }

    &--light {
      background: #961a1a;
      opacity: 0.5;
      filter: blur(rem(196px));

      backdrop-filter: none;
    }

    &--large {
      width: rem(211px);
      height: rem(210px);
    }
  }
}
