/**
* Colors
*/
$athens-gray: #E4E5EA;
$mid-gray: #656566;
$woodsmoke: #0E1014;
$royal-blue: #4077F3;

$color-background: $woodsmoke;
$color-text: $athens-gray;
$color-button: $royal-blue;
$color-link: $athens-gray;

/**
* Fonts
*/
$font-path: "../fonts";
$font-family-default: "Arial", "Helvetica", sans-serif;
$font-family-custom: "Inter";
$font-family-second: "Montserrat";

$font-size-base: 16px;
$font-family: $font-family-custom, $font-family-default;
$font-family-montserrat: $font-family-second, $font-family-default;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

$font-size-huge: 48px;
$font-size-large: 36px;
$font-size-medium: 18px;
$font-size-normal: 14px;
$font-size-small: 13px;
$font-size-mini: 12px;
$font-size-tiny: 10px;

/**
* Breakpoints
*/
$screen-desktop: "(min-width: 1440px)";
$screen-tablet: "(min-width: 768px)";

/**
* Layout
*/
$width-container: 1140px;
$gap-container: 15px;

/**
* Transitions and Animations
*/
$transition-duration: 300ms;
$transition-duration-fast: 100ms;
$transition-function: ease-in-out;
